[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    utils/venv
ignore = E203, W503
inline-quotes = single
multiline-quotes = single
docstring-quotes = double
