# Local / Project Specific
__pycache__/
.ipynb_checkpoints
*.mp4
scratch
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Python Build / Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / Coverage
.pytest_cache/
.tox/
.nosetests
nosetests.xml
coverage.xml
*.cover
*.py,cover
.coverage.*
.cache

# IDE / Editor Files
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# Compiled Binaries & Installers
rfactor_plugin/install/BrBrDbTelemetryInstaller.exe

# OS Specific
.DS_Store
Thumbs.db
